@include media-breakpoint-between(md, lg) {
  .hero-title {
    background: linear-gradient(2deg, hsl(233, 26%, 24%), hsl(136, 65%, 51%));
    -webkit-background-clip: text;
    color: transparent;
  }

  .hero-section h1 {
    background: linear-gradient(2deg, hsl(233, 26%, 24%), hsl(136, 65%, 51%));
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
  }
}
